#coverContainer img {
  width: 300px;
}

#songInfo {
  margin-top: 20px;
}

#controls {
  margin-top: 20px;
}

#controls #duration {
  margin-bottom: 10px;
}

#controls #duration input {
  width: 300px;
  margin: 0 10px;
}

#controls #volume {
  display: table;
  vertical-align: middle;
  margin: 10px 0;
}

#controls #volume input {
  margin: 0 10px;
}

#controls button {
  cursor: pointer;
  margin: 5px;
}

#listSongs li {
  cursor: pointer;
}

#listSongs li:hover {
  background-color: #ef9a9a;
}
